<component name="ArtifactManager">
  <artifact type="war" name="mybatis_plus:war">
    <output-path>$PROJECT_DIR$/mybatis_plus/target</output-path>
    <root id="archive" name="mybatis_plus.war">
      <element id="artifact" artifact-name="mybatis_plus:war exploded" />
    </root>
  </artifact>
</component>